NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_WS_URL=ws://localhost:3001

NEXTAUTH_URL=http://localhost:3000
NEXT_AUTH_SECRET=testtests

DATABASE_URL=postgresql://postgres:postgres@localhost:5434/postgres
NEXT_PUBLIC_WALLETCONNECT_ID=
ALCHEMY_API_KEY=
