[submodule "packages/app"]
	path = packages/app
	url = https://github.com/nftchance/plug-app
[submodule "packages/core"]
	path = packages/core
	url = https://github.com/nftchance/plug-core
[submodule "packages/types"]
	path = packages/types
	url = https://github.com/nftchance/plug-types
[submodule "packages/docs"]
	path = packages/docs
	url = https://github.com/nftchance/plug-docs
[submodule "packages/pitch"]
	path = packages/pitch
	url = https://github.com/nftchance/plug-pitch
