[submodule "packages/app"]
	path = packages/app
	url = https://github.com/nftchance/plug-app
[submodule "packages/core"]
	path = packages/core
	url = https://github.com/nftchance/plug-core
[submodule "packages/types"]
	path = packages/types
	url = https://github.com/nftchance/plug-types
[submodule "packages/docs"]
	path = packages/docs
	url = https://github.com/nftchance/plug-docs
[submodule "packages/server"]
	path = packages/server
	url = https://github.com/nftchance/plug-server
[submodule "packages/client"]
	path = packages/client
	url = https://github.com/nftchance/plug-client
[submodule "packages/landing"]
	path = packages/landing
	url = https://github.com/nftchance/emporium-landing
