enable-pre-post-scripts=true
shared-workspace-lockfile=true
strict-peer-dependencies=false
auto-install-peers=true
loglevel=error
network-concurrency=16
child-concurrency=4
prefer-frozen-lockfile=true
resolution-mode=highest