enable-pre-post-scripts=true
shared-workspace-lockfile=true
strict-peer-dependencies=false
auto-install-peers=true
loglevel=error
git-protocol = https
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*prettier*