{
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 120,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"importOrder": ["^react$", "^next$", "^next/(.*)$", "next-auth", "<THIRD_PARTY_MODULES>", "^@[a-zA-Z]", "^@/(.*)$", "./(.*)$"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderGroupNamespaceSpecifiers": true,
	"importOrderCaseInsensitive": true
}
