.Draggable {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition: transform 250ms ease;
}

.Draggable > button {
	min-height: 54px;
	flex-shrink: 1;
	background-color: #181a22;
	box-shadow: var(--box-shadow);
	transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
		scale(var(--scale, 1));
	transition: box-shadow 300ms ease;
}

.Draggable img {
	width: 140px;
	user-select: none;
	pointer-events: none;
}

.Draggable label {
	display: block;
	flex-shrink: 1;
	padding: 10px;
	transition: opacity 250ms ease;

	text-align: center;
	font-size: 1rem;
	font-weight: 300;
	color: #8d8d8d;
	user-select: none;
	cursor: url('/cursor.svg'), auto;

	animation-name: pulse;
	animation-duration: 1.5s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate;
}

.Draggable.dragging {
	z-index: 1;
	transition: none;
}

.Draggable.dragging * {
	cursor: grabbing;
}

.Draggable.dragging > button {
	--scale: 1.06;
	--box-shadow: -1px 0 15px 0 rgba(34, 33, 81, 0.01),
		0px 15px 15px 0 rgba(34, 33, 81, 0.25);
}

.Draggable.dragging > button:focus-visible {
	--box-shadow: 0 0px 10px 2px #4c9ffe;
}

.Draggable.dragging label {
	animation: none;
	opacity: 0;
}

.Draggable.dragOverlay > button,
.Draggable.dragging > button {
	animation: pop 250ms cubic-bezier(0.18, 0.67, 0.6, 1.22);
}

@keyframes pulse {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes pop {
	0% {
		transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
			scale(1);
	}
	100% {
		transform: translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
			scale(var(--scale));
		box-shadow: var(--box-shadow);
	}
}
